<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Test</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&amp;display=swap" rel="stylesheet"/> 
    {% if csses %}
    {% for css in csses %}<link href="{{css}}" rel="stylesheet"/>{% endfor %}
    {% endif %}
</head>

<body>

{% if header %}
    <header>
{{header}}
    </header>
{% endif %}

{% if nav %}
    <nav>
{{nav}}
    </nav>
{% endif %}

    <article class="markdown">
        <a id="top"></a>
{{article}}
        <a id="bottom"></a>
    </article>

{% if sidebar %}
    <aside class="markdown">
{{sidebar}}
    </aside>
{% endif %}

{% if footer %}
    <footer class="markdown">
{{footer}}
    </footer>
{% endif %}

    <script src="colors.js"></script>
    <script src="nav.js"></script>
</body>

</html>
