@import "colors";
@import "units";

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark);
    transition: background-color 0.5s ease-out;
}

@media screen and (orientation: landscape) {
    article {
        margin-left: 8%;
        width: 84%;
    }
}

@media screen and (orientation: portrait) {
    article {
        margin-left: 5%;
        width: 90%;
    }
}

article {
    margin-top: $header-height + $padding-big;
}
