@import "colors";
@import "units";

html {
    scroll-behavior: smooth;
}

body {
    --body-padding: $padding-medium;
    padding: var(--body-padding);
    background-color: var(--dark);
    transition: background-color 0.5s ease-out;
}

@media print {
    body {
        padding-left: $padding-giant * 3;
        padding-right: $padding-giant * 3;

        .markdown {
            pre {
                overflow: none;
            }
        }

    }
}