@import "colors";
@import "units";

html {
    scroll-padding: $header-height
}

header {
    background-color: $black;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: $border-medium solid $white;

    p {
        margin: $padding-big;
    }

    a {
        border-bottom: $border-big solid $black;
        text-decoration: none;
        color: $white;
        font-size: $font-big;
        margin-right: $padding-giant;
        transition: border 0.5s ease-out;
    }

    a:hover {
        border-bottom: $border-big solid $white;
        transition: border 0.5s ease-out;
    }

    ::selection {
        background-color: #0000;
    }

}