@import "colors";
@import "units";

html {
    scroll-padding: $header_height + $padding_big;
}

header {
    background-color: $black;
    padding: $padding_medium;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: $header_height - $border_medium;
    border-bottom: $border_medium solid $white;

    a {
        border-bottom: $border_big solid $black;
        text-decoration: none;
        color: $white;
        font-size: $font_big;
        margin-right: $padding_giant;
        transition: border 0.5s ease-out;
    }

    a:hover {
        border-bottom: $border_big solid $white;
        transition: border 0.5s ease-out;
    }

    ::selection {
        background-color: none;
    }

}