@import "colors";
@import "units";

html {
    scroll-padding: $header-height;
}

@media print {

    header {
        display: none;
    }

}

@media screen and (orientation: portrait) {

    header {

        .topmenu.activated {
            display: block;
        }

        .topmenu.deactivated {
            display: none;
        }

        .topmenu {
            position: fixed;
            z-index: 2;
            left: 0;
            width: 100%;
            top: $header-height - 0.5rem;
            background-color: var(--black);
            border-bottom: $border-medium solid var(--white);

            a {
                padding: $padding-big;
                display: block;
            }
    
            a:hover {
                background-color: var(--gray);
            }

        }

    }

}

@media screen and (orientation: landscape) {

    header {

        .topmenu {
            display: block;
        }

        .mobileview {
            display: none;
        }

        p {
            margin: $padding-big;
        }

        a {
            margin-left: $padding-giant;
        }

        a:hover {
            border-bottom: $border-big solid var(--white);
        }

    }

}

header {
    background-color: var(--black);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: $border-medium solid var(--white);

    .mobileview {

        p {
            margin: $padding-big;
        }

        a {
            display: block;
            text-align: right;
            margin-right: $padding-giant;
            cursor: pointer;
        }

    }

    a {
        border-bottom: $border-big solid var(--black);
        text-decoration: none;
        color: var(--white);
        font-size: $font-big;
        transition: border 0.5s ease-out;
    }

    a:hover {
        transition: border 0.5s ease-out;
    }

    ::selection {
        background-color: #0000;
    }

}