@import "colors";
@import "units";

nav {
    background-color: $black-trans;
    transition: background-color 0.5s ease-out;

    border: $border-medium solid $gray;
    z-index: 1;
    position: fixed;
    right: 1%;
    bottom: 5%;
    font-size: $font-giant;

    p {
        padding: 0;
        margin: 0;
    }

    a {
        color: $white-trans;
        text-decoration: none;
        transition: color 0.5s ease-out;
        padding: $padding-medium;
    }

    a:hover {
        color: $white;
        transition: color 0.5s ease-out;
    }

    ::selection {
        background-color: #0000;
    }

}

nav:hover {
    background-color: $black;
    transition: background-color 0.5s ease-out;
}