@import "colors";
@import "units";

@media screen and (orientation: landscape) {
    article {
        margin-left: 8%;
        margin-right: 8%;
        max-width: 84%;
    }
}

@media screen and (orientation: portrait) {
    article {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }
}

article {
    margin-top: $header-height + $padding-big;
}
